.navbar{
    z-index: 9999;
}
.webbtn{
    background-color: #E9CCAE;
    color: white;
    padding: 2% 4%;
    border-radius: 50px;
    width: 40%;
    text-align: center;
}
.hroverall{
    background-color: #183047;
    width: 20%;
    height: 2px;
}
.centerbt{
    display: flex;
    justify-content: center;
}
.miniheadertxt{
    margin: 0.6rem 0 0 1.5rem;
}
.upperheader{
    background-color: #183047;
    color: #FFFFFF;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.abouthero{
    margin-top: -4.5rem;
    width: 100%;
}
.imgwidabout{
    width: 100%;
}
.socialicons{
    margin: 0.7rem 3rem 0 0;
}
.icon{
    margin-left: 0.7rem;
}
.firstimg{
    height: 2rem;
    width: auto;
    margin-right: 0.3rem;
}
.heroimg{
    width: 50%;
    height: auto;
    float: left;
    margin-top: -4.5rem;
}
.herosection{
    position: absolute;
    top: 18%;
    width: 100%;
    float: right;
    height: 117vh;
    background-color: rgba(255, 253, 253, 0.2);
    margin-top: -4.5rem;
}
.hometxt1{
    clear: both;
    position: relative;
    bottom: 20rem;
    text-align: center;
    width: 100%;
}
.section1{
    clear: both;
    display: flex;
    flex-direction: row;
    padding: 15% 10%;
}
hr{
    width: 20%;
    height: 5%;
}
.secttext{
    width: 50%;
    margin-right: 10%;
}
.homeimg2{
    width: 400px;
    height: auto;
    padding-top: 10%;
}
.homeimg3{
    position: relative;
    top: -50%;
    left: 40%;
    height: 40%;
    z-index: -111;
}
.homeservices{
    background-color: #FAFAFA;
    padding: 10% 15%;
    margin-top: -40rem;
}
.servtab{
    display: flex;
    flex-direction: row;
    padding: 5% 0;
}
.homescroll{
    display: flex;
    flex-direction: row;
    margin: 10% 7%;
}
.homebilling{
    background-color: #FAFAFA;
    padding: 10%;
}
.billingsect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.aboutsect{
    display: flex;
    flex-direction: row;
    padding: 5% 2%;
}
.aboutsect1{
    background-color: #F3F4F9;
    text-align: center;
    padding: 10%;
    font-weight: bolder;
    font-size: 2rem;
    color: #183047;
}
.aboutsect2{
    display: flex;
    flex-direction: row;
}
.imgwid{
    width: 49.5%;
}
.aboutsect3{
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 2% 10%;
}
.sect4{
    display: flex;
    flex-direction: row;
}
.teamcover{
    width: 100%;
    height: auto;
    margin-top: -4.5rem;
}
.teamhero{
    position: relative;
    bottom: 550px;
    width: 40%;
    margin: 0 5%;
}
.teamsect{
    background-color: #F6F6F9;
    display: flex;
    flex-direction: row;
    padding: 0 5%;
}
.teamsect:nth-child(odd){
    background-color: white;
}
.careupper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10rem;
}
.carepage{
    background-color: #F6F6F9;
}
.carehero{
    margin-top: -4.5rem;
}
.caresect{
    background-color: white;
    font-size: 12px;
    width: 20%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    box-shadow: 4px 4px 4px 4px rgba(170, 168, 168, 0.1);
 }
 .caresect:hover{
     background-color: #C1DDE5;
     box-shadow: none;
 }
 .caretext{
     font-size: 50px;
     color: #183047;
 }
 .carecard{
     display: flex;
     flex-direction: row;
     justify-content: center;
 }
 .carecardimg{
    position: relative;
    top: -48px;
    left: -49px;
    width: 131%;
 }
 .cardheading{
     color: #014F86;
 }
 .sectimg{
     /* width: 5rem; */
     /* height: auto; */
     padding: 10px;
     border-radius: 50px;
     background-color: rgb(225, 228, 236);
 }
 .caresect2{
     width: 30%;
     background-color: white;
     text-align: center;
 }
 .herotext{
     background-color: white;
     width: 25%;
     left:8%;
     padding: 2%;
     position: relative;
     bottom: 26rem;
 }
 .blogbtn{
     margin-top: 20px;
     display: flex;
     justify-content: space-between
 }
 .blogsect{
     display: flex;
     flex-direction: row;
 }
 .blogsect2{
     display: flex;
     flex-direction: row;
     margin: 10% 5%;
 }
 .blogbtnsty{
     text-align: center;
     width: 30%;
     color: white;
     background-color: #0E4963;
     padding: 2% 0;
     border-radius: 12px;
     font-weight: bolder;
 }
 .contacthero{
     margin-top: -4.5rem;
 }
 .contactdetails{
     width: 80%;
     margin: 50px 10%;
 }
 .contactpros{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     margin: 5% 3%;
     color: #0E4963;
 }
 .pcon{
     font-size: 18px;
 }
 .contactsect{
     display: flex;
     flex-direction: row;
 }
 .contactlst{
     width: 40%;
     margin: 5% 5%;
 }
 .contactlast{
     display: flex;
     flex-direction: row;
 }
 .map{
     display: flex;
     flex-direction: row;
     background-color: #F6F6F9;
 }
 .conmap{
     width: 90%;
     margin: 55% 0% 20% 0;
 }
.footer{
    clear: both;
    color: white;
}
.footeradd{
    display: flex;
    flex-direction: row;
    padding: 0 7% 3%;
}
.upperfooter{
    background-color: #8498A4;
}
.lowerfooter{
    background-color: #64737C;
}
.footernav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    font-weight: bolder;
}
.fontsizefooter{
    font-size: 80px;
}
.fontsizefooter1{
    font-size: 40px;
}
.hrfooter{
    background-color: white;
    width: 80%;
    height: 2px;
}
.hrfooter1{
    background-color: white;
    width: 70%;
}


@media screen and (max-width: 1050px) {
    .homescroll{
        display: flex;
        flex-direction: column;
        margin: 5%;
    }
    .homeresimg{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .homeservices{
        margin-top: -20rem;
    }
    .aboutsect2{
        display: flex;
        flex-direction: column;
    }
    .imgwid{
        width: 100%;
    }
    .sect4{
        display: flex;
        flex-direction: column;
    }
    .aboutsect3{
        width: 100%;
    }
    .teamsect{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .webbtn{
        width: 50%;
    }
    .herotext{
        width: 40%;
        position: relative;
        bottom: 22rem;
    }
    .blogsect2{
        display: flex;
        flex-direction: column;
    }
    .teamhero{
        position: relative;
        bottom: 400px;
    }
  }

  @media screen and (max-width: 1000px) {
    .heroimg{
        margin-top: -3.3rem;
    }
    .section1{
        clear: both;
        display: flex;
        flex-direction: column;
    }
    .homeimg2{
        width: 80%;
        margin-top: 10%;
    }
    .secttext{
        width: 100%;
        margin-right: 10%;
        margin-top: -20%;
    }
    .homeimg3{
        position: relative;
        bottom: 750px;
        left: 50%;
        height: 40%;
        z-index: -111;
    }
    .homeservices{
        background-color: #FAFAFA;
        padding: 10% 15%;
        margin-top: -41rem;
    }
    .abouthero{
        margin-top: -3.5rem;
    }
    .teamcover{
        margin-top: -3.5rem;
    }
    .carehero{
        margin-top: -3.5rem;
    }
    .herotext{
        width: 50%;
        position: relative;
        bottom: 20rem;
    }
    .contacthero{
        margin-top: -3.5rem;
    }
  }
  @media screen and (max-width: 800px) {
    .hometxt1{
        clear: both;
        position: relative;
        bottom: 15rem;
    }
    .homeimg3{
        position: relative;
        top: -620px;
    }
    .careupper{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 0;
        width: 100%;
    }
    .caresect{
        width: 45%;
        text-align: center;
        margin: 2% 0;
     } 
     .carecard{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 100%;
    }
    .caresect2{
        width: 50%;
        text-align: center;
        margin-bottom: 10px;
    }
    .herotext{
        width: 64%;
        bottom: 15rem;
        font-size: 10px;
    }
    .blogsect{
        display: flex;
        flex-direction: column;
    }
    .footeradd{
        display: flex;
        flex-direction: column;
    }
  }
  @media screen and (max-width: 700px) {
    .homeimg3{
            position: relative;
            top: -550px;
            height: 530px;
    }
    .footernav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teamhero{
        position: relative;
        bottom: 300px;
        width: 50%;
        margin: 0 5%;
    }
    .herotext{
        width: 62%;
        bottom: 13rem;
        font-size: 8.5px;
    }
    .blogbtn{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogbtnsty{
        margin-top: 2%;
    }
    .homeservices{
        background-color: #FAFAFA;
        padding: 10% 15%;
        margin-top: -35rem;
    }
  }
  @media screen and (max-width: 577px) {
    .upperheader{
            display: flex;
            flex-direction: column;
            align-content: center;
            height: 6rem;
    }
    .herosection{
        position: absolute;
        top: 35%;
        margin-top: -4.5rem;
        height: 230px;
    }
    .socialicons{
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
    }
    .caretext{
        font-size: 25px;
        padding-top: 40px;
    }
    .homeimg3{
        position: relative;
        top: -370px;
        height: 360px;
    }
    .subhead{
        font-size: 15px;
    }
    .paddingtophome{
        padding-top: 150px;
    }
    .maintxthome{
        padding-top: 80px;
    }
    .aboutsect{
        display: flex;
        flex-direction: column;
    }
    .aboutsect3{
        display: flex;
        flex-direction: column;
    }
    .maintxtteam{
        margin-top: 50px;
        width: 139%;
        font-size: 25px;
    }
    .fontsizefooter {
        font-size: 50px;
    }
    .fontsizefooter1{
        font-size: 30px;
    }
  }
  @media screen and (max-width: 380px) {
    .secttext{
        margin-top: -50%;
    } 
    .homeimg3{
        top: -289px;
        height: 465px;
        width: 148px;
}
    .servtab{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .homefullwid{
        margin-left: 79px;
    }
    .iphone{
        position: relative;
        top: -184px;
    }
    .iphonetxt{
        margin-top: 136px;
        width: 170%;
    }
    .carecardimg{
         width: 206%;
    }
    .careparagh{
    width: 180%;
    margin-left: -32px;
    }
    .webbtn {
        width: 124%;
        padding: 7px;
    }
  }